.checkout-form {
    max-width: var(--form-width);
    margin: var(--section-margin) auto;
    padding: var(--section-margin);
    background-color: var(--background-color);
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow-1);
}

.checkout-form #formHeading {
    text-align: center;
    margin-bottom: var(--section-margin);
    padding-bottom: var(--section-margin);
}

.checkout-form fieldset {
    margin-bottom: var(--section-margin);
    padding: var(--input-margin-bottom);
    border-radius: var(--border-radius-1);
    border: var(--border-1);
}

.checkout-form legend {
    font-weight: bold;
}

.checkout-form label {
    display: block;
    margin: var(--section-margin) 0 var(--form-padding);
    font-size: var(--font-size-small);
}

.checkout-form input[type="text"],
.checkout-form input[type="email"],
.checkout-form input[type="tel"],
.checkout-form select {
    width: 100%;
    padding: var(--padding-y);
    border: var(--border-1);
    border-radius: var(--border-radius-1);
}

.checkout-form input[type="checkbox"] {
    margin-right: var(--form-padding);
}

.checkout-form button {
    background-color: var(--primary-color);
    color: var(--disabled-text-color);
    padding: var(--button-margin-bottom) var(--grid-gutter-width);
    border: none;
    border-radius: var(--border-radius-1);
    cursor: pointer;
    transition: var(--transition-background-color);
}

.checkout-form button:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
    border: var(--border-underline);
}

.checkout-form button:hover {
    background-color: darken(var(--primary-color), 10%);
}

.error-message {
    font-size: var(--error-font-size);
    color: var(--error-color);
    margin-top: var(--form-padding);
    opacity: 0;
    transform: translateY(-10px);
    transition: var(--transition-ease-in-out);
}

.error-message.show {
    opacity: 1;
    transform: translateY(0);
}